@import "tailwindcss";
@plugin "daisyui"; 


@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #d97706;
  --color-secondary: #f8d49a;
  --color-fund: #f2f2f2;
  --color-btnHover: #ad5d00;
}
@font-face {
  font-family: 'LT Karaoke';
  src: url('./assets/fonts/LTKaraoke-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LT Karaoke';
  src: url('./assets/fonts/LTKaraoke-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
.karaoke{
  font-family: 'LT Karaoke', sans-serif;
}
