@import "tailwindcss";
@plugin "daisyui"; 

body {
  font-family: 'Poppins', sans-serif;
}


@theme {
  --color-fund: #f2f2f2;
  --color-btnHover: #ad5d00;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #d97706;
  --color-secondary: #f8d49a;
}
