@import "tailwindcss";
@plugin "daisyui"; 
body{
  background-color: #f2f2f2 ;
}
@plugin "daisyui";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-fund: #f2f2f2;
  --color-btnHover: #ad5d00;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #d97706;
  --color-secondary: #f8d49a;
}
/* ! necesario para los efectos del buscador con IA */

@keyframes gradient-x {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.animate-gradient-x {
  animation: gradient-x 3s ease infinite;
}

.ai-glow {
  box-shadow: 0 0 20px rgba(147, 51, 234, 0.3), 0 0 40px rgba(59, 130, 246, 0.2);
}
.custom-cursor-section {
  cursor: url('/game.png'), auto;
}


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}


@keyframes bounceOnce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15%);
  }
}

.bounce-hover:hover {
  animation: bounceOnce 2s ease-in-out infinite;
}

.scroll-container {
  position: absolute;  
  bottom: 50px;     
  right: 30px;      
  z-index: 50;  
  display: flex;
  flex-direction: column;     
}


.scrolldown {
  --color: white;
  --sizeX: 40px;
  --sizeY: 60px;
  position: relative;
  width: var(--sizeX);
  height: var(--sizeY);
  border: calc(var(--sizeX) / 10) solid var(--color);
  border-radius: 50px;
  box-sizing: border-box;
  cursor: pointer;
}

.scrolldown::before {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 50%;
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: var(--color);
  border-radius: 100%;
  animation: scrolldown-anim 2s infinite;
  box-sizing: border-box;
  box-shadow: 0px -5px 3px 1px #2a547066;
}

@keyframes scrolldown-anim {
  0% { opacity: 0; height: 6px; }
  40% { opacity: 1; height: 10px; }
  80% { transform: translate(0, 20px); height: 10px; opacity: 0; }
  100% { height: 3px; opacity: 0; }
}

.chevrons {
  padding: 6px 0 0 0;
  margin-left: 1px;
  margin-top: 60px;
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chevrondown {
  margin-top: -6px;
  position: relative;
  border: solid var(--color);
  border-width: 0 3px 3px 0;
  display: inline-block;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
}

.chevrondown:nth-child(odd) {
  animation: pulse54012 500ms ease infinite alternate;
}

.chevrondown:nth-child(even) {
  animation: pulse54012 500ms ease infinite alternate 250ms;
}

@keyframes pulse54012 {
  from { opacity: 0; }
  to { opacity: 0.5; }
}
